<div id="skills" class="container-fluid p-5 ">
  <div class="row  p-3 exp ">
    <div class="col text-center " id="relojitos">
      <h1>HABILIDADES</h1>
    </div>
  </div>


  <div class="row p-5 ">


    <div class="col-6 col-md-3 offset-md-2 pastillas">
      <div class="box">

        <div class="meter " >
          <span style="width:80%;">
            <span class="progress"></span>
          </span>
        </div>
        <h2>HTML</h2>
      </div>
    </div>


    <div class="col-6 col-md-3 offset-md-2 pastillas">
      <div class="box">
        <div class="meter " >
          <span style="width:50%;">
            <span class="progress"></span>
          </span>
        </div>        <h2>CSS</h2>
      </div>
    </div>
  </div>

  <div class="row p-5">
    <div class="col-6 col-md-3   pastillas">
      <div class="box">
        <div class="meter " >
          <span style="width:50%;">
            <span class="progress"></span>
          </span>
        </div>        <h2>WORDPRESS</h2>
      </div>
    </div>
    <div class="d-none d-md-block  col-md-2 offset-md-2  pastillas">
      <div>
        <div class="box">
          <img [src]="dataPortfolio.cerebro" alt="un cerebro" class="cerebro">
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 offset-md-2  pastillas">
      <div class="box">
        <div class="meter " >
          <span style="width:40%;">
            <span class="progress"></span>
          </span>
        </div>        <h2>JAVASCRIPT</h2>
      </div>
    </div>
  </div>

  <div class="row p-5">
    <div class="col-6 col-md-3 offset-md-2  pastillas">
      <div class="box">
        <div class="meter " >
          <span style="width:20%;">
            <span class="progress"></span>
          </span>
        </div>        <h2>SEO</h2>
      </div>
    </div>
    <div class="col-6 col-md-3 offset-md-2  pastillas">
      <div class="box">
        <div class="meter " >
          <span style="width:10%;">
            <span class="progress"></span>
          </span>
        </div>        <h2>PHP</h2>
      </div>
    </div>
  </div>
</div>
