<div class="container-fluid info">
  <div class="row info_personal">
    <div class="col ">
      <div class="card info_personal">
        <div class="card-body ">
          <h1 class="card-title">ENRIQUE MANGIALAVORI</h1>
          <p class="card-text fs-5">Full Stack Developer Jr.<br>Diseño web<br> E-commerce.</p>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="card text-end  info_personal">
        <div class="card-body ">

          <h3 class="card-title">Contacto</h3>
          <a class="fa-solid fa-pen-to-square fa-xl " id="btn_edit_contact" (click)="mostrar_edit_contacto()"></a>

          <p class="card-text ">
            <a class="fs-5" href="mailto:theo@frika.com.ar" target="_blank" rel="noopener noreferrer"
              id="mail">Mail: {{dataPortfolio.mail}}</a><br>
            <a class="fs-5" href="#" id="telefono">Telefono/WS: {{dataPortfolio.telefono}}</a><br>
            <a class="fs-5" href="https://www.instagram.com/theo.patinio/" target="_blank" rel="noopener noreferrer"
              id="instagram">
              IG: {{dataPortfolio.IG}}
             </a>
          </p>

          <!-- Editar -->

          <div class="contact_edit" [style.display]="display">
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text" id="basic-addon1">Mail</span>
              <input type="text" class="form-control" placeholder="Nuevo Mail" aria-label="Username"
                aria-describedby="basic-addon1" id="new_mail">
            </div>
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text" id="basic-addon1">Telefono</span>
              <input type="text" class="form-control" placeholder="Nuevo telefono" aria-label="Username"
                aria-describedby="basic-addon1" id="new_telefono">
            </div>
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text" id="basic-addon1">IG</span>
              <input type="text" class="form-control" placeholder="Instagram" aria-label="Username"
                aria-describedby="basic-addon1" id="new_instagram">
            </div>
            <input class="btn btn-primary" type="submit" value="Enviar" id="btn_enviar_contact" (click)="ocultar_edit_contacto()">
            <input class="btn btn-primary" type="submit" value="Cancelar" id="btn_enviar_contact" (click)="ocultar_edit_contacto()">
          </div>




        </div>
      </div>
    </div>
  </div>
</div>

