<div id="contenedor_acerca" class="container-fluid p-5  fs-4">

  <div class="row  p-3 exp">
    <div class="col text-center ">
      <a class="fa-solid fa-pen-to-square fa-mb " id="btn_edit_acerca"></a>
      <h1>ACERCA DE...</h1>
    </div>
    <span id="acerca_text">Aca va quien soy yo, una breve descripcion de mi persona, mis habilidades y
      virtudes</span>


    <div class="input-group-lg acerca_edit">
      <span class="input-group-text">Editar Info</span>

      <textarea class="form-control " aria-label="With textarea" id="new_text"></textarea>

      <input class="btn btn-primary" type="submit" value="Enviar" id="btn_enviar_text">
    </div>
  </div>


</div>
