<div class="body">


    <app-encabezado></app-encabezado>
    <app-info-cabecera></app-info-cabecera>

    <!-- ----------MAIN------------ -->
    <div>
      <app-acerca></app-acerca>
      <app-experiencia></app-experiencia>
      <app-estudios></app-estudios>
      <app-habilidades></app-habilidades>

      <!-- ----------ACA COMIENZA EL FOOTER------------ -->

      <footer>
        <div class="container-fluid P-0 saraza">
          <div class="row text-center  ">
            <div class="col-12 col-md p-2 ">
              <a href="">footer abc</a>
            </div>
            <div class="col-12 col-md p-2 ">
              <a href="">footer abcfff</a>
            </div>
            <div class="col-12 col-md p-2 ">
              <a href="">footer abjhdkfdsfc</a>
            </div>
            <div class="col-12 col-md p-2 ">
              <a href="">footer abchh</a>
            </div>
            <div class="col-12 col-md p-2 ">
              <a href="">footer hjfdhfas</a>
            </div>
          </div>
        </div>
      </footer>

    </div>
